* {
  margin: 0;
  padding: 0;
}

.porfolio_header {
  background-color: rgb(190, 78, 78);
  width: 100%;
  height: 4rem;
  display: flex;
  gap: 1rem;
}

.header_name_container {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin: auto 0;
  margin-left: 2rem;
  padding: 5px;
}
.header_name {
  text-align: center;
  /* background-color: blueviolet; */
  padding: 2px;
  font-style: italic;
}
.header_items_list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header_item {
  color: white;
  background-color: #0000003b;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: large;
}
